#output_dir: ./outputs

defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled
  # - override hydra/launcher: submitit_slurm

hydra:
  output_subdir: null
  # mode: MULTIRUN
  # launcher:
  #   max_num_timeout: 999
  #   gpus_per_node: 8
  #   tasks_per_node: ${hydra.launcher.gpus_per_node}
  #   cpus_per_task: 10
  #   mem_gb: 60
  #   timeout_min: 120
  #   partition: scavenge,learnfair,dev
  #   signal_delay_s: 120
  run:
    dir: .

wandb:
  enable: true
  project: xenoworlds
  entity: simon-lacoste-julien

dataset_name: simple-pointmaze
output_model_name: world_model
